@page "/users"
@using Clients.CustomGateway
@inject NavigationManager navManager
<PageTitle>Users</PageTitle>

<h1>Users</h1>

<Front.Components.AuthService.UserList ButtonText="View" OnUserButtonClickedAsyncHandler=OnUserClickedAsync/>

@code{
    Task OnUserClickedAsync(UserDto user)
    {
        navManager.NavigateTo($"user/{user.Id}");
        return Task.CompletedTask;
    }
}