@page "/Products"
@inject NavigationManager navManager
@inject Front.Services.CustomAuthStateProvider stateProvider;
<PageTitle>Products</PageTitle>

<h1>Products</h1>

@if(stateProvider.CurrentUser != null)
{
    <button class="btn btn-primary" @onclick="OnViewProductClicked">Add product</button>
}

<Front.Components.ProductService.ProductList ButtonText="View" OnObjectButtonClickedAsyncHandler=OnObjectClickedAsync />

@code{
    Task OnObjectClickedAsync(Guid id)
    {
        navManager.NavigateTo($"product/{id}");
        return Task.CompletedTask;
    }

    private void OnViewProductClicked(MouseEventArgs e)
    {
        navManager.NavigateTo("AddProduct");
    }
}